.simple-list-item {
    margin-bottom: 16px;
    border-bottom: 1px solid gray; 
    margin-bottom: 32px;
}
  
.simple-list-item .label {
    margin-right: 8px;
    font-size: 14px;
    color: gray;
}
  