.badge {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    margin: 8px;
    padding: 8px 12px;
}

.orange {
    background-color: orange;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.s {
    font-size: 12px;
}

.m {
    font-size: 16px;
}

.xl {
    font-size: 28px;
}